

<html lang="en">
    <head>
      <meta charset="utf-8">
    
      <title>Title</title>
      <meta name="description" content="The HTML5 Herald">
      <meta name="author" content="SitePoint">
    
      <link rel="stylesheet" href="css/a.css">
    
    </head>
    
    <body>
        <div id="bar_before">
            <ul>
              <!--Image thumbnails added using JS-->
            </ul>
          </div>
          <main onscroll="refreshBars();">
            <ul>
              <li> <img id="img_0" src="imgs/Image-0/Epoch-0.png" alt="epoch"/> Epoch-0.</li>
              <li> <img id="img_1" src="imgs/Image-0/Epoch-1.png" alt="epoch"/>Epoch-1</li>
              <li> <img id="img_2" src="imgs/Image-0/Epoch-2.png" alt="epoch"/>Epoch-2</li>
              <li> <img id="img_3" src="imgs/Image-0/Epoch-3.png" alt="epoch"/>Epoch-3</li>
              <li> <img id="img_4" src="imgs/Image-0/Epoch-4.png" alt="epoch"/> Epoch-4</li>
              <li> <img id="img_5" src="imgs/Image-0/Epoch-5.png" alt="epoch"/>Epoch-5</li>
              <li> <img id="img_6" src="imgs/Image-0/Epoch-6.png" alt="epoch"/>Epoch-6</li>
              <li> <img id="img_7" src="imgs/Image-0/Epoch-7.png" alt="epoch"/>Epoch-7</li>
              <li> <img id="img_8" src="imgs/Image-0/Epoch-8.png" alt="epoch"/>Epoch-8</li>
              <li> <img id="img_9" src="imgs/Image-0/Epoch-9.png" alt="epoch"/>Epoch-9</li>
              <li> <img id="img_10" src="imgs/Image-0/Epoch-10.png" alt="epoch"/>Epoch-10</li>
              <li> <img id="img_11" src="imgs/Image-0/Epoch-11.png" alt="epoch"/>Epoch-11</li>
              <li> <img id="img_12" src="imgs/Image-0/Epoch-12.png" alt="epoch"/>Epoch-12</li>
              <li> <img id="img_13" src="imgs/Image-0/Epoch-13.png" alt="epoch"/>Epoch-13</li>
              <li> <img id="img_14" src="imgs/Image-0/Epoch-14.png" alt="epoch"/>Epoch-14</li>
              <li> <img id="img_15" src="imgs/Image-0/Epoch-15.png" alt="epoch"/>Epoch-15</li>
              <li> <img id="img_16" src="imgs/Image-0/Epoch-16.png" alt="epoch"/>Epoch-16</li>
              <li> <img id="img_17" src="imgs/Image-0/Epoch-17.png" alt="epoch"/>Epoch-17</li>
              <li> <img id="img_18" src="imgs/Image-0/Epoch-18.png" alt="epoch"/>Epoch-18</li>
              <li> <img id="img_19" src="imgs/Image-0/Epoch-19.png" alt="epoch"/>Epoch-19</li>
              <li> <img id="img_20" src="imgs/Image-0/Epoch-20.png" alt="epoch"/>Epoch-20</li>
              <li> <img id="img_21" src="imgs/Image-0/Epoch-21.png" alt="epoch"/>Epoch-21</li>
              <li> <img id="img_22" src="imgs/Image-0/Epoch-22.png" alt="epoch"/>Epoch-22</li>
              <li> <img id="img_23" src="imgs/Image-0/Epoch-23.png" alt="epoch"/>Epoch-23</li>
              <li> <img id="img_24" src="imgs/Image-0/Epoch-24.png" alt="epoch"/>Epoch-24</li>
              <li> <img id="img_25" src="imgs/Image-0/Epoch-25.png" alt="epoch"/>Epoch-25</li>
              <li> <img id="img_26" src="imgs/Image-0/Epoch-26.png" alt="epoch"/>Epoch-26</li>
              <li> <img id="img_27" src="imgs/Image-0/Epoch-27.png" alt="epoch"/>Epoch-27</li>
              <li> <img id="img_28" src="imgs/Image-0/Epoch-28.png" alt="epoch"/>Epoch-28</li>
              <li> <img id="img_29" src="imgs/Image-0/Epoch-29.png" alt="epoch"/>Epoch-29</li>
              <li> <img id="img_30" src="imgs/Image-0/Epoch-30.png" alt="epoch"/>Epoch-30</li>
              
            </ul>
          </main>
          <div id="bar_after">
            <ul>
              <!--Image thumbnails added using JS-->
            </ul>
          </div>
      <script src="js/a.js"></script>
    </body>
    </html>
    
